[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = IrinaKlykina
	email = 99683249+IrisKlykina@users.noreply.github.com
